<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">
         
    <bean id="captchaEngine" class="com.octo.captcha.engine.image.gimpy.SimpleListImageCaptchaEngine"/>
    <bean id="captchaService" class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService" scope="singleton">
    	<property name="captchaEngine" ref="captchaEngine"/>
    </bean>
         
         
</beans>